body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Style create and join room buttons */
.button{
  padding: 10px;
  margin: 5px;
}

.createRoomButton .button {
  background-color: aquamarine;
}

.joinRoomButton .button {
  background-color: plum;
}

/* Style tiles */
.tile {
  margin: 5px;
  border: blue 1px solid;
}

.tile.faceDown {
  border: blue 5px solid;
}

/* Style boards */
.playerBoard {
  border: red 1px solid;
  /* position: fixed;
  bottom: 20%; */
  display: flex;
}

.other {
  border: orange 5px solid;
  /* position: fixed;
  bottom: 20%; */
}

