body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Style create and join room buttons */
.button{
  padding: 10px;
  margin: 5px;
}

.createRoomButton .button {
  background-color: aquamarine;
}

.joinRoom .button {
  background-color: plum;
}

/* Style tiles */
.tile {
  margin: 5px;
  border: blue 1px solid;
}

.tile.faceDown {
  border: blue 5px solid;
}

.tile.clicked {
  border: red 5px solid;
}

/* Style boards */
.playerBoard {
  border: red 1px solid;
  /* position: fixed;
  bottom: 20%; */
  display: flex;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%)
}

.otherBoard {
  border: orange 5px solid;
}

.leftBoard {
  transform: rotateZ(90deg); 
  position: absolute;
  left: 0%;
  top: 50%
}

.rightBoard {
  transform: rotateZ(270deg); 
  position: absolute;
  right: 0%;
  top: 50%
}

.topBoard {
  position: absolute;
  top: 20%;
  left: 50%;
}