/* This 'root' style defines values that are used throughout the style sheet */
:root {
  --DiscardWidth: 40;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Use max available space in the page */
html, body {
  height: 100%
}

div#root, .page{
  width: 100%;
  height: 100%;
}

/* Style create and join room buttons */
.button{
  padding: 10px;
  margin: 5px;
}

.createRoomButton .button {
  background-color: aquamarine;
}

.joinRoom .button {
  background-color: plum;
}

/* Style tiles */
img {
  max-width: 100%;
  max-height: 100%;
}

.tile {
  /* This width should be some proportion of the screen */
  width: 6vh; 
  height: 9vh;
  border: blue 1px solid;
}

.tile.faceDown {
  border: blue 2px solid;
}

/* Place draw ontop of selected, so selected has priority over draw */
.tile.drawn {
  border: purple 3px solid;
  margin-left: 50px;
}

.tile.selected {
  border: red 10px solid;
}

/* Style boards */
.gameBoard{
  position: relative;
  width: 100%;
  height: 100%;
}

/* General playerboard and other board setting */
.board {
  display: flex;
  position: absolute;
}

.playerBoard {
  border: red 1px solid;
  bottom: 0;
  left: 50%;
  transform: translate(-50%)
}

.otherBoard {
  border: orange 5px solid;
}

.leftBoard {
  transform-origin: left top;
  transform: rotate(-90.0deg) translateX(-50%);
  top: 50%;
}

.rightBoard {
  right: 0;
  transform-origin: right top;
  transform: rotate(90.0deg) translateX(50%);
  top: 50%;
}

.topBoard {
  top: 0;
  left: 50%;
  transform: translate(-50%);
}

.middleSection {
  border: brown 10px solid;
  width: 70%;
  height: 70%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: relative;
}

.discard {
  border: green 2px solid;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  height: 100px;
  overflow: auto; /* Scroll if too many tiles */
}

.playerDiscard {
  bottom: 0;
  left: 50%;
  transform: rotate(0deg) translateX(-15vw);
  background-image: linear-gradient(orange, green);
  width: 49.5vw;
  height: 19vh;
}

.leftDiscard {
  left: 0;
  top: 50%;
  transform: rotate(90deg)  translateX(-100%) translateX(35vh) translateY(-30vh);
  transform-origin: top left;
  background-image: linear-gradient(orange, green);
  height: 19vw;
  width: 49.5vh;
}

.rightDiscard {
  right: 0;
  top: 50%;
  transform: rotate(-90deg) translateX(100%) translateX(-15vh) translateY(-30vh);
  transform-origin: top right;
  background-image: linear-gradient(orange, green);
  height: 19vw;
  width: 49.5vh;
}

.topDiscard {
  top: 0;
  right: 50%;
  transform: rotate(180deg) translateX(-15vw);
  background-image: linear-gradient(orange, green);
  width: 49.5vw;
  height: 19vh;
}

.recentDiscard {
  position: absolute;
  border: black 2px solid;
  width: 30vw;
  height: 30vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Game end message */

.gameEndMsg {
  position: absolute;
  border: black 2px solid;
  background-color: mediumaquamarine;
  text-align: center;
  width: 30vw;
  height: 30vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}